@model UpdateBrandDto
@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Marka Güncellemesi</h4>
                        <form method="post">
                            <input type="hidden" asp-for="BrandId" />
                            <div class="form-group">
                                <label for="exampleInputLuggage">Marka adı</label>
                                <input type="text" class="form-control" id="exampleInputLuggage" asp-for="Name" placeholder="Marka adı">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Markayı güncelle</button>
                        </form>

                    </div> <!-- end card-body-->
                </div>

            </div>
            <!-- end card-body-->
        </div>
        <!-- end card -->

    </div>
    <!-- end col -->

</div>
