@model List<ResultServiceDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Hizmet bilgisi</h4>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Başlık</th>
                                        <th>Açıklama</th>
                                        <th>icon url</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Any())
                                    {
                                        foreach (var item in Model)
                                        {
                                            count++;
                                            <tr>
                                                <td>@count</td>
                                                <td>@item.title</td>
                                                <td>@item.description</td>
                                                <td>@item.iconUrl</td>
                                                <td><a href="/Admin/AdminService/DeleteService/@item.serviceId" class="btn btn-outline-danger">Sil</a></td>
                                                <td><a href="/Admin/AdminService/UpdateService/@item.serviceId" class="btn btn-outline-success">Güncelle</a></td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <th scope="row">-</th>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <td><a href="/Admin/AdminService/CreateService" class="btn btn-outline-primary">Yeni hizmet girişi</a></td>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

